// Colors
$primary: #B3291D;
$secondary: #701515;
$black: #262626;
$white: #FFFFFF;
$grey: #BDC7CC;

// Fonts 

$large-title: "HelveticaNeue-Light";
$small-title: "HelveticaNeue-Bold";
$buzzwords: "HelveticaNeue";
$text: "HelveticaNeue-Roman";
$numbers: "HelveticaNeue-Roman";


// Breakpoints 

$xsm: 300px;
$sm: 600px;
$md: 900px;
$lg: 1200px;